<h5>Employee List</h5>
<h5 style="color:indianred">{{errorMsg}}</h5>
<div class="col-md-3 col-sm-12" style="margin-bottom:10px ;float: right;">
  <input class="form-control " [(ngModel)]="searchTxt" placeholder="search" >

</div>

<table class="table table-striped table-bordered">
<thead>
<tr class="btn-secondary">
<th>Id</th>
<th>Email-Id</th>
<th>First Name</th>
<th>Last Name</th>
<th *ngIf="isadmin">Actions</th>
</tr>
</thead>



<tbody>
    <tr *ngIf="employs.length==0" cols="4">
      No Records Found!
    </tr>
<tr *ngFor = "let emp of employs|arrayFilter:searchTxt|sort:'desc':'id'" appHlight>
<td>{{emp.id}}</td>
<td>{{emp.emailId}}</td>
<td>{{emp.firstName}}</td>
<td>{{emp.lastName}}</td>
<td *ngIf="isadmin">
<a (click) = "updateEmployee(emp.id)" class="bi bi-pencil-fill" style="cursor: pointer;margin-right: 30px;color:black"></a> 
<a type="button" class="bi bi-trash-fill" style="cursor:pointer;color:red;margin-left: 10px" data-bs-toggle="modal" data-bs-target="#exampleModal"
 (click)="assignId(emp.id)"></a>
<!-- <button (click) = "employeeDetails(emp.id)" class="btn btn-warning" style="margin-left: 10px">View</button> -->
</td>

</tr>
</tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':empId>0?'block':'none','margin-top.px':80}" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure,Do you want to delete record?</h5>
         
        </div>
       <br/>
        <div class="text-center" >
          
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cancel</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" (click) = "deleteEmployee()">Confirm</button>
        </div>
        <br/>
      </div>
    </div>
  </div>